
@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="text-center">Dashboard</h1>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 border border-primary p-3">
        <h5>Miyad Bhuiyan</h5>
        <p class="text-secondary">1 January 1990</p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the 
            leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <p class="text-secondary text-end">10 Answers</p>
        <hr class="text-primary" />
        <div class="row">
            
            <div class="col-md-6 text-center">
                <a>View</a>
            </div>
            <div class="col-md-6 text-center">
                <a>Delete</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

