
@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="text-center">Dashboard</h1>
<hr />
@{  
    if (TempData["QSuccess"] != null)
    {
        <p style="color:green;" class="text-center">@TempData["QSuccess"]</p>

    }
    foreach(var item in ViewBag.dQ)
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 border border-primary p-3">
                <h5>@item.qBy</h5>
                <p class="text-secondary">@item.qDate</p>
                <p>@item.ques</p>
                <hr class="text-primary" />
                <div class="row">
                    <div class="col-md-6 text-center"><a>View</a></div>
                    @if (ViewBag.MySession == item.qUID)
                    {
                        <div class="col-md-6 text-center text-danger"><a>Delete</a></div>
                    }
                </div>
                @if (ViewBag.MySessionType == "Teacher")
                {
                    <div class="row">
                        <form asp-action="Login">
                            <div class="form-group col-md-6">
                                <input asp-for="EmailId" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <input type="submit" value="Answer" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                }
                
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
    }
}


