@model studentTeacherQuestionAnswer.Models.Question

@{
    ViewData["Title"] = "Question";
}

<h1>Question</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Question">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Question1" class="form-control" />
                <span asp-validation-for="Question1" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Dashboard">Back to Dashboard</a>
</div>

